@import "tailwindcss";

@font-face {
  font-family: "Vanity";
  src: url("/font/vanity/Vanity - TTF/Vanity-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nexa";
  src: url("/font/nexa/Nexa-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nexa";
  src: url("/font/nexa/Nexa-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Custom light purple scrollbar */

* {
  scrollbar-width: thin;
  scrollbar-color: #c084fc #f3e8ff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f3e8ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: "#c084fc";
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7; /* darker purple on hover */
}

/* Firefox support */

@theme {
  --font-vantity: "Vanity", sans-serif;
  --font-nexa: "nexa", sans-serif;

  --shadow-glow: "657px 0 184px 0 rgba(20, 3, 39, 0.01), 421px 0 168px 0 rgba(20, 3, 39, 0.08), 237px 0 142px 0 rgba(20, 3, 39, 0.28), 105px 0 105px 0 rgba(20, 3, 39, 0.47), 26px 0 58px 0 rgba(20, 3, 39, 0.54)";

  --breakpoint-large: 1500px;

  /* animate */
  --animate-slide-left: slide-left 0.5s ease-in-out;
  --animate-slide-right: slide-right 0.5s ease-in-out;

  @keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

.container {
  @apply w-[90%] md:w-[85%] max-w-[1720px] mx-auto;
}

/* .heading-1 {
  @apply text-[32px] md:text-[45px] xl:text-[80px] font-bold  leading-none mb-6;
} */
.heading-1 {
  @apply text-[32px] text-[clamp(2.8125rem,1.6406rem+5.2083vw,7.5rem)] font-bold  leading-none mb-6;
}

section {
  max-width: 100%;
  overflow: hidden;
  min-height: max-content;
}

.custom-list ul {
  padding-left: 1.25rem; /* Tailwind's pl-5 */
}

.custom-list ul li {
  position: relative;
  list-style: none; /* remove default bullet */
  padding-left: 1.5rem; /* space for custom icon */
  margin-bottom: 0.5rem;
}

.custom-list ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.35rem;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5235 0.498842C8.67123 0.0341551 9.32877 0.0341563 9.4765 0.498843L10.3956 3.38982C10.4993 3.71609 10.8928 3.84396 11.1685 3.64097L13.6114 1.84234C14.004 1.55323 14.536 1.93973 14.3824 2.4025L13.4266 5.28157C13.3188 5.60649 13.562 5.94126 13.9043 5.93909L16.9378 5.91982C17.4254 5.91672 17.6286 6.54208 17.2323 6.82618L14.7669 8.59363C14.4886 8.7931 14.4886 9.2069 14.7669 9.40637L17.2323 11.1738C17.6286 11.4579 17.4254 12.0833 16.9378 12.0802L13.9043 12.0609C13.562 12.0587 13.3188 12.3935 13.4266 12.7184L14.3824 15.5975C14.536 16.0603 14.004 16.4468 13.6114 16.1577L11.1685 14.359C10.8928 14.156 10.4993 14.2839 10.3956 14.6102L9.4765 17.5012C9.32877 17.9658 8.67123 17.9658 8.5235 17.5012L7.60442 14.6102C7.5007 14.2839 7.10715 14.156 6.83147 14.359L4.38864 16.1577C3.99599 16.4468 3.46403 16.0603 3.61765 15.5975L4.57338 12.7184C4.68123 12.3935 4.43801 12.0587 4.09566 12.0609L1.06216 12.0802C0.57457 12.0833 0.37138 11.4579 0.767672 11.1738L3.23315 9.40637C3.51139 9.2069 3.51139 8.7931 3.23315 8.59363L0.767671 6.82618C0.371379 6.54208 0.574571 5.91672 1.06217 5.91982L4.09566 5.93909C4.43801 5.94126 4.68123 5.60649 4.57337 5.28157L3.61765 2.4025C3.46403 1.93973 3.99599 1.55323 4.38864 1.84234L6.83147 3.64097C7.10715 3.84396 7.5007 3.71609 7.60442 3.38982L8.5235 0.498842Z' fill='%23AE64FD'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}
